body {
    background-color: grey;
   font-family: Carlito;
}

h2, div {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
    text-transform: uppercase;
}
label {
    display: inline-block;
    width: 100px;
    text-transform: uppercase;
}
input {
    display: inline-block;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height:25px
}

a {
    text-decoration: none;
    color:black;
    cursor:pointer;
}

button {
    text-align: center;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    width: 100px;
    height: 25px;
    background-color: burlywood;
    text-transform: uppercase;
}