body {
    background-color: grey;
   font-family: Carlito;
}

.containerBase {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 80rem;
}

h2{
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 300px;*/
    text-align: center;
    text-transform: uppercase;
}

label {
    display: inline-block;
    width: 150px;
    text-transform: uppercase;
}

input {
    border: none;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height:25px
}

a {
    text-decoration: none;
    color:black;
    cursor:pointer;
}

button{
    text-align: center;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    width: 100px;
    height: 25px;
    background-color: burlywood;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.box1, .box2{
    width: 30rem;
    padding: 2rem;
}

.search{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
}

.btnSearch{
    text-align: center;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    width: 100px;
    height: 25px;
    background-color: burlywood;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

/*.dataTable {*/
/*    border: 1px solid black;*/
/*    border-spacing : 1px;*/
/*    border-collapse : collapse;*/
/*    margin: auto;*/
/*    width: 60%;*/
/*}*/

/*.dataTable thead {*/
/*    background: #888a85;*/
/*}*/

/*.dataTable .even {*/
/*    background: #eeeeec;*/
/*}*/

/*.dataTable .odd {*/
/*    background: #d3d7cf;*/
/*}*/