:root {
    --black: #333;
    --blue: #7186FF;
    --red: #C1272D;
    --shaded-red: rgb(223, 149, 149);
    --green: #00751F;
    --shaded-green : rgb(175, 225, 175);
    --white: #FFF;
    --blueish: #022F40;
    --lightCyan: #D9F7FA;
    --platinum: #D8DDDE;
    --timberwolf:#CFCBCA;
    --kaki:#ABA194;
    --mint: #F1F7ED;
    --slategrey: #243E36;
    --cambridgeblue:#7CA982;
    --nianza: #E0EEC6;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body {
    height: 100vh;
    width:100vw;
    margin: 0;
    background-color: var(--mint);
   font-family: Carlito;
}
.title{
    width: 200px;
}
.containerBase {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 80rem;
}

h2{
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 300px;*/
    text-align: center;
    text-transform: uppercase;
}

label {
    display: inline-block;
    width: 150px;
    text-transform: uppercase;
}

input {
    border: none;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height:25px
}

a {
    text-decoration: none;
    color:black;
    cursor:pointer;
}

button{
    text-align: center;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    width: 100px;
    height: 25px;
    background-color: var(--cambridgeblue);
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}
#ajouter{
    text-align: center;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    width: 100px;
    height: 25px;
    background-color: var(--cambridgeblue);
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}
.box1, .box2, .box3{
    width: 30rem;
    padding: 2rem;
}

.search{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
}

.btnSearch{
    text-align: center;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    width: 100px;
    height: 25px;
    background-color: var(--cambridgeblue);
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}
.boxDetails{
    display: flex;
    flex-direction: column;
}
#mainHeader{
    display: grid;
    grid-template-columns: 80px 1fr 40px;
    align-items: start;
    background-color: var(--cambridgeblue);
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
#mainHeader h1{
    margin: 0 0 0 20px;
    color: var(--black);
    font-family: Cantarell, Arial, sans-serif;
    font-weight: normal;
    font-size: 1em;
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
}
#mainNav{
    position: absolute;
    background-color:var( --cambridgeblue);
    width: 100%;
    top: 40px;
    padding-bottom: 10px;
    display: none;
}
#mainNav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    margin-left: 90px;
}
#mainNav a{
    color: var(--black);
    text-decoration: none;
    font-family: Cantarell, Arial, sans-serif;
    font-size: 1.5em;
    display: block;
    margin: 10px;
}
#mainNav a:hover{
    color: var(--nianza);
}

#menuToggle{
    background-color: transparent;
    border: none;
    background-size: cover;
    width: 40px;
    height: 40px;
    align-self: start;
    margin-left: auto;

}
#logoImg{
    padding: 5px;
    z-index: 1000;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: relative;
}
.loginFormContainer{
    margin-top:200px;
    margin-right: auto;
    margin-left: auto;
    width:300px;
    text-align: center;
}
@media screen and (min-width: 768px) {
    #menuToggle {
        display: none;
    }

    #mainHeader {
        grid-template-columns: 80px 250px 1fr;
    }

    #mainNav {
        position: static;
        background: transparent;
        display: flex !important;
        padding: 0;
        justify-content: flex-end;
    }

    #mainNav ul {
        flex-flow: row nowrap;
        margin-left: 0px;
    }

    #mainNav a {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1024px) {
    #mainHeader {
        grid-template-columns: 80px repeat(2, 1fr);
    }

    #mainHeader h1 {
        font-size: 1.5em;
    }
}
