<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.example.tppatientjee.entity.Patient"/>
        <mapping class="com.example.tppatientjee.entity.Consultation"/>
        <mapping class="com.example.tppatientjee.entity.Prescription"/>
        <mapping class="com.example.tppatientjee.entity.FicheSoins"/>
        <mapping class="com.example.tppatientjee.entity.Image"/>
    </session-factory>
</hibernate-configuration>